<section>
    <div class="pueblo">
        <h2>Pueblo</h2>
        <div class="row">
            <div class="col">
                <mat-card class="pueblo-card">
                    <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                    <mat-card-title>Pueblo 1</mat-card-title>
                    <mat-card-content><p>11 integrantes</p></mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="Casas">
        <h2>Casas</h2>
        <div id="multi_item" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <mat-card class="casa-card" routerLink="/casa">
                            <img mat-card-image src="../../assets/imagenes/cueva.jpg" alt="pueblo 1">
                            <mat-card-title>Cueva</mat-card-title>
                            <mat-card-content><p>Primera casa de 8cho</p></mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="casa-card">
                            <img mat-card-image src="../../assets/imagenes/cueva.jpg" alt="pueblo 1">
                            <mat-card-title>Faro</mat-card-title>
                            <mat-card-content><p>Segunda casa de 8cho</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <mat-card class="casa-card">
                            <img mat-card-image src="../../assets/imagenes/cueva.jpg" alt="pueblo 1">
                            <mat-card-title>Focus</mat-card-title>
                            <mat-card-content><p>Tercera casa de 8cho</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="Ilegalidades">
        <h2>Ilegalidades</h2>
        <div id="multi_item" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <mat-card class="ilegalidad-card" routerLink="/ilegalidad">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Robo de cama</mat-card-title>
                            <mat-card-content><p>8cho va la carcel por robar la cama de Juan</p></mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="ilegalidad-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Explosion de huerto</mat-card-title>
                            <mat-card-content><p>8cho le explota el huerto junto a sus otros jugadores</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <mat-card class="ilegalidad-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Explosion picnic</mat-card-title>
                            <mat-card-content><p>8cho expota constuccion de Nia por despecho</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>