<section>
    <h1>Tortillaland</h1>
    <div class="busqueda">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Buscar">
            <mat-icon>search</mat-icon>
        </mat-form-field>
    </div>
        <mat-tab-group>
            <mat-tab label="Pueblos">
                <div class="row">
                    <div class="col">
                        <mat-card class="pueblo-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Pueblo 1</mat-card-title>
                            <mat-card-content><p>11 jugadores</p></mat-card-content>

                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="pueblo-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Pueblo 2</mat-card-title>
                            <mat-card-content><p>11 jugadores</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-card class="pueblo-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Pueblo 3</mat-card-title>
                            <mat-card-content><p>11 jugadores</p></mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="pueblo-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Pueblo 4</mat-card-title>
                            <mat-card-content><p>1 jugador</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Jugadores"> 
                <div class="row">
                    <div class="col">
                        <mat-card class="jugador-card" routerLink="/jugador">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>8cho</mat-card-title>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="Jugador-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Auron</mat-card-title>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-card class="Jugador-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Betra</mat-card-title>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            
            <mat-tab label="Eventos">
                <div class="row">
                    <div class="col">
                        <mat-card class="evento-card" routerLink="/evento">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Competencia de iglesias</mat-card-title>
                            <mat-card-content><p>Competencia entre los tres pueblos por la constuccion de iglesias</p></mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="evento-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Explosion picnic</mat-card-title>
                            <mat-card-content><p>8cho expota constuccion de Nia por despecho</p></mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
</section>
<app-barra-inferior></app-barra-inferior>
