<section>
    <div class="cabezera">
        <mat-icon class="arrow">keyboard_arrow_left</mat-icon>
        <h1>Jugador</h1>
    </div>
    
    <div class="info-perfil">
        <img class="circular-img" src="../../assets/imagenes/8cho.jpg" />
        <h2 id="nombre">8cho</h2>
        <h3 id="ingreso">Desde 15/09/2021</h3>
        <div class="redes">
            
        </div>
    </div>
    <div class="tab">
        <mat-tab-group>
            <mat-tab label="Temporada 1"> <app-info-t1></app-info-t1> </mat-tab>
            <mat-tab label="Temporada 2"> PROXIMAMENTE </mat-tab>
        </mat-tab-group>
    </div>
</section>
<app-barra-inferior></app-barra-inferior>