<section>
    <div class="cabecera">
        <a href="/inicio"><mat-icon class="arrow">keyboard_arrow_left</mat-icon></a>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Competencia de iglesias</mat-card-title>
          <mat-card-subtitle>21 participantes</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="ganador">
        <mat-card-header>
          <mat-card-title>Ganador</mat-card-title>
        </mat-card-header>
        <mat-card class="pueblo-card">
            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
            <mat-card-title>Pueblo 2</mat-card-title>
            <mat-card-content><p>11 jugadores</p></mat-card-content>
        </mat-card>
    </mat-card>
    <mat-card class="Resultados">
        <mat-card-header>
            <mat-card-title>Resultados</mat-card-title>
        </mat-card-header>
        <mat-icon>star</mat-icon> Votos: 2.031
        <p id="votos-pueblo1">32.7%</p>
        
    </mat-card>

</section>
<app-barra-inferior></app-barra-inferior>
