<section>
    <div class="cabecera">
        <mat-icon class="arrow">keyboard_arrow_left</mat-icon>
    </div>
    
    <div class="info-casa">
        <h1 id="nombre-casa">Cueva</h1><mat-icon id="estado">clear</mat-icon>
        <h3 id="subtitulo">Primera casa de <p id="duenio">8cho</p></h3>
    </div>
    <div class="Descripcion">
        <h2>Descripcion</h2>
        <p id="descripcion-text"></p>
    </div>
    <div class="construida">
        <h2>Construida por</h2>
        <div class="row">
            <div class="col">
                <mat-card class="pueblo-card">
                    <img mat-card-image src="../../assets/imagenes/8cho.jpg" alt="pueblo 1">
                    <mat-card-title>8cho</mat-card-title>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="destruida">
        <h2>Destruida por</h2>
        <div class="row">
            <div class="col">
                <mat-card class="pueblo-card">
                    <img mat-card-image src="../../assets/imagenes/8cho.jpg" alt="pueblo 1">
                    <mat-card-title>Fargan</mat-card-title>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<app-barra-inferior></app-barra-inferior>