<mat-divider></mat-divider>
<section class="container">
    <div class="row">
        <div class="col opcion">
            <button mat-icon-button>
                <a href="/favoritos"><mat-icon>favorite</mat-icon></a>
            </button>
        </div>
        <div class="col opcion">
            <button mat-icon-button>
                <a href="/inicio"><mat-icon>home</mat-icon></a>
            </button>
        </div>
        <div class="col opcion">
            <button mat-icon-button>
                <a href="/perfil"><mat-icon>person_pin</mat-icon></a>
            </button>
        </div>
    </div>
</section>
