<section>
    <h1>Favotirtos</h1>
    <div class="busqueda">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Buscar">
            <mat-icon>search</mat-icon>
        </mat-form-field>
        <mat-tab-group>
            <mat-tab label="Pueblos">
                <div class="row">
                    <div class="col">
                        <mat-card class="jugador-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>Pueblo 1</mat-card-title>
                            <mat-card-content><p>11 jugadores</p></mat-card-content>

                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Jugadores">
                <div class="row">
                    <div class="col">
                        <mat-card class="jugador-card">
                            <img mat-card-image src="../../assets/imagenes/pueblo1.png" alt="pueblo 1">
                            <mat-card-title>8cho</mat-card-title>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Eventos"></mat-tab>
          </mat-tab-group>
    </div>
</section>
<app-barra-inferior></app-barra-inferior>